USE [master]
GO
/****** Object:  Database [TinTuc]    Script Date: 16/06/2021 10:37:09 CH ******/
CREATE DATABASE [TinTuc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TinTuc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TinTuc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TinTuc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TinTuc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TinTuc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TinTuc]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 16/06/2021 10:37:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 16/06/2021 10:37:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Post] [int] NULL,
	[NoiDung] [nvarchar](100) NULL,
	[NgayViet] [datetime] NULL,
	[ButDanh] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Media]    Script Date: 16/06/2021 10:37:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Media](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](100) NULL,
	[Main] [bit] NULL,
	[Id_Post] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 16/06/2021 10:37:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenBV] [ntext] NULL,
	[MoTa] [ntext] NULL,
	[NoiDung] [ntext] NULL,
	[TacGia] [ntext] NULL,
	[NgayDang] [datetime] NULL,
	[Id_Categories] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16/06/2021 10:37:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Ten]) VALUES (1, N'Giải Trí')
INSERT [dbo].[Categories] ([Id], [Ten]) VALUES (2, N'Thể Thao')
INSERT [dbo].[Categories] ([Id], [Ten]) VALUES (3, N'Sức khỏe')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([Id], [Id_Post], [NoiDung], [NgayViet], [ButDanh]) VALUES (3, 3, N'Hello !', CAST(N'2021-06-04T20:57:45.863' AS DateTime), N'Nobody')
INSERT [dbo].[Comment] ([Id], [Id_Post], [NoiDung], [NgayViet], [ButDanh]) VALUES (4, 3, N'Xin chào !!!', CAST(N'2021-06-07T11:01:19.280' AS DateTime), N'Vo Danh')
INSERT [dbo].[Comment] ([Id], [Id_Post], [NoiDung], [NgayViet], [ButDanh]) VALUES (5, 2, N'Hello world !', CAST(N'2021-06-16T10:39:13.427' AS DateTime), N'Quang')
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Media] ON 

INSERT [dbo].[Media] ([Id], [Url], [Main], [Id_Post]) VALUES (2, N'2_202106011530308922.jfif', NULL, 2)
INSERT [dbo].[Media] ([Id], [Url], [Main], [Id_Post]) VALUES (3, N'3_202106011606087716.jpg', NULL, 3)
INSERT [dbo].[Media] ([Id], [Url], [Main], [Id_Post]) VALUES (4, N'4_202106112012247027.jpg', NULL, 4)
SET IDENTITY_INSERT [dbo].[Media] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

SET IDENTITY_INSERT [dbo].[Post] OFF
GO
INSERT [dbo].[Users] ([Username], [Password]) VALUES (N'admin', N'1')
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Post] FOREIGN KEY([Id_Post])
REFERENCES [dbo].[Post] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Post]
GO
ALTER TABLE [dbo].[Media]  WITH CHECK ADD  CONSTRAINT [FK_Media_Post] FOREIGN KEY([Id_Post])
REFERENCES [dbo].[Post] ([Id])
GO
ALTER TABLE [dbo].[Media] CHECK CONSTRAINT [FK_Media_Post]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Categories] FOREIGN KEY([Id_Categories])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Categories]
GO
/****** Object:  StoredProcedure [dbo].[BaiViet_5New]    Script Date: 16/06/2021 10:37:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BaiViet_5New]
AS
BEGIN
	SELECT TOP 5 * FROM Post ORDER BY Id DESC
END
GO
/****** Object:  StoredProcedure [dbo].[BaiViet_ByIdCategories]    Script Date: 16/06/2021 10:37:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BaiViet_ByIdCategories]
(
	@ID_DM INT
)
AS
BEGIN
	SELECT * FROM Post WHERE Id_Categories = @ID_DM
END
GO
/****** Object:  StoredProcedure [dbo].[BaiViet_ByIdPost]    Script Date: 16/06/2021 10:37:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BaiViet_ByIdPost]
(
	@ID_BV INT
)
AS
BEGIN
	SELECT * FROM Post WHERE Id = @ID_BV
END
GO
/****** Object:  StoredProcedure [dbo].[BaiViet_SelectAll]    Script Date: 16/06/2021 10:37:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BaiViet_SelectAll]
AS
BEGIN
	SELECT * FROM Post
END
GO
/****** Object:  StoredProcedure [dbo].[BinhLuan_ByIdPost]    Script Date: 16/06/2021 10:37:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BinhLuan_ByIdPost]
(
	@ID_BV INT
)
AS
BEGIN
	SELECT * FROM Comment WHERE Id_Post = @ID_BV
END
GO
/****** Object:  StoredProcedure [dbo].[BinhLuan_SelectByID]    Script Date: 16/06/2021 10:37:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BinhLuan_SelectByID]
(
	@ID_BV INT
)
AS
BEGIN
	SELECT * FROM Comment WHERE Id_Post = @ID_BV
END
GO
/****** Object:  StoredProcedure [dbo].[DanhMuc_ByIdCategories]    Script Date: 16/06/2021 10:37:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*Lấy ra 1 danh mục theo Id danh mục*/
CREATE PROC [dbo].[DanhMuc_ByIdCategories]
(
	@ID INT
)
AS
BEGIN
	SELECT * FROM Categories WHERE Id = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[DanhMuc_SelectAll]    Script Date: 16/06/2021 10:37:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*Lấy ra tất cả danh mục */
CREATE PROC [dbo].[DanhMuc_SelectAll]
AS
BEGIN
	SELECT * FROM Categories
END
GO
USE [master]
GO
